<mat-sidenav-container fullscreen class="topContainer">
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <mat-toolbar color="primary">
      <img src="./../assets/mrrlogo.png" class="sideImg" />
      <span class="toolbar-filler"></span>
      <button
        md-icon-button
        (click)="sidenav.toggle()"
        class="mat-icon-button border border-0 closeBg"
        [hidden]="!sidenav.opened"
      >
        <i class="fa fa-times closeImg"></i>
      </button>
    </mat-toolbar>
    <app-side-menu
      [sidenavtitle]="sidenavtitle"
      (sidenavEvent)="sidenav.toggle()"
    ></app-side-menu>
  </mat-sidenav>
  <app-toolbar
    [title]="title"
    [userId]="userId"
    [isNavBarOpened]="sidenav.opened"
    (sidenavEvent)="sidenav.toggle()"
    (signOutEvent)="signOut()"
  >
  </app-toolbar>
  <main class="main">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>
</mat-sidenav-container>
